<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hamzasabir.schoolmanagementsystem">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdmissionRequestActivity"></activity>
        <activity android:name=".ApplyForAdmissionsActivity" />
        <activity android:name=".AddStaffActivity" />
        <activity
            android:name=".ViewImageActivity"
            android:theme="@style/Splash" />
        <activity android:name=".ViewSchoolActivity" />
        <activity
            android:name=".AdminLogin"
            android:theme="@style/NoActionBarMainActivity" />
        <activity
            android:name=".StudentLogin"
            android:theme="@style/NoActionBarMainActivity" />
        <activity
            android:name=".StudentDashboard"
            android:theme="@style/NoActionBarMainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBarMainActivity" />
    </application>

</manifest>